*{
  box-sizing: border-box;
}
body{
  text-align: center;
  background-color: azure;
}
header{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr
}
header img{
  height: 5em;
}
header > :first-child{
  text-align: left;
}
header > :nth-child(2){
  text-align: center;
  font-size: 2.5em;
}
header > :last-child{
  text-align: right;
}
table {
  margin-top: 1em;
  margin-bottom: 1em;
}
td {
  text-align: center;
}
th{
  border: 0.1em solid green; 
  padding: 0.5em 1em;
  font-size: 1.325em;
  color: darkblue;
}

/* il pulsante per l'inserimento dei dati */
button {
  border-radius: 4px;
  background-color: deepskyblue;
  border: none;
  color: black;
  text-align: center;
  font-size: 1.5em;
  padding: 0.5em 1em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button span {
  padding-right: 25px;
  transition: 0.5s;
}
button span:after {
  content: '\00bb';
  padding-left:0px;
  opacity: 0;
  transition: 0.5s;
}
button:hover span {
  padding-right: 0px;
}
button:hover span:after {
  padding-left:25px;
  opacity: 1;
}

/* il quesitonario */
div.domanda { 
  background: #eeeeee ;
  padding: 0;
  text-align: left;
}
div.domanda > * {
  padding:0.25em; 
}
div.domanda > h2 { 
  background: #cccccc;
}

/* https://stackoverflow.com/questions/1431726/css-selector-for-a-checked-radio-buttons-label */
input[type="radio"]:checked+label{ font-style: italic } 